#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-auto-columns: 1fr;
  flex: 1;
}

.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: left;
}

.hero-heading {
  background: linear-gradient(to right, #FFD319 0%, #FF901F 10%, #FF2975 34%, #F222FF 40%, #8C1EFF 440%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.logo {
  width: 100px;
}