#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: left;
  padding-right: 2rem;
}

.hero-heading {
  background: linear-gradient(to right, #FFD319 0%, #FF901F 20%, #FF2975 50%, #F222FF 70%, #8C1EFF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-image {
  padding: 2rem 0;
  max-width: 350px;
}

.cert-image {
  width: 150px;
  padding: 1rem;
}

.cert-image-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
